<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      autoReload="true">
  <!--Set throwConfigExceptions="false" on production-->

  <variable name="logDirectory" value="Logs"/>
  <variable name="backupDirectory" value="Logs"/>

  <targets async="true">
    <target name="RootLoggingFile" xsi:type="File"
            fileName="${logDirectory}/RootLoggingFile.${shortdate}.log"
            archiveFileName="${backupDirectory}/RootLoggingFile.${shortdate}.{####}.log"
            archiveAboveSize="104857600"
            archiveNumbering="Sequence" />
    <target name="HangfireLoggingFile" xsi:type="File"
            fileName="${logDirectory}/HangfireLoggingFile.${shortdate}.log"
            archiveFileName="${backupDirectory}/HangfireLoggingFile.${shortdate}.{####}.log"
            archiveAboveSize="104857600"
            archiveNumbering="Sequence" />
  </targets>

  <rules>
    <logger name="HangfireLogger" minlevel="Debug" writeTo="HangfireLoggingFile" />
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="*" minlevel="Debug" writeTo="RootLoggingFile" />
  </rules>
</nlog>